<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gridjs Server Side Data</title>
  <script src="https://unpkg.com/gridjs/dist/gridjs.production.min.js"></script>
  <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>

<body>
  <h1>
      <a href="http://localhost:4000/cidadesEstados"> CIDADES ESTADOS</a> <br>
      <a href="http://localhost:4000/cidadesEstadosMapa"> CIDADES ESTADOS MAPA</a>
  </h1>
  <div id="table-gridjs"></div>

  <script>
    new gridjs.Grid({
      //columns: ["Judul", "Tanggal Rilis", "Direktor", "Produser"],
      columns: ["Código","Nome"],
      server:
      {

          url : 'http://localhost:4000/cliente',
          then : data => data.linhas.map(cliente =>[cliente.codigo,cliente.nome])
      },
    }).render(document.getElementById("table-gridjs"));
  </script>


  <script>
    const options =
    {
      method : 'GET',
      headers : {'content-type' : 'application/json'}
    }

    fetch('/cliente',options)
    .then(response => response.json())
    .then(data => data.pro.forEach(element => {
      console.log(element )
    })
    )
    //}))

  </script>

</body>
</html>