<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gridjs Server Side Data</title>
  <script src="https://unpkg.com/gridjs/dist/gridjs.production.min.js"></script>
  <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>

<body>

  <label for="estados">Selecione um estado:</label>
  <select id="estados" name="estados" onchange="preencheMunicipios();">
    <option value="AC">Acre</option>
    <option value="AL">Alagoas</option>
    <option value="AP">Amapá</option>
    <option value="AM">Amazonas</option>
    <option value="BA">Bahia</option>
    <option value="CE">Ceará</option>
    <option value="DF">Distrito Federal</option>
    <option value="ES">Espírito Santo</option>
    <option value="GO">Goiás</option>
    <option value="MA">Maranhão</option>
    <option value="MT">Mato Grosso</option>
    <option value="MS">Mato Grosso do Sul</option>
    <option value="MG">Minas Gerais</option>
    <option value="PA">Pará</option>
    <option value="PB">Paraíba</option>
    <option value="PR">Paraná</option>
    <option value="PE">Pernambuco</option>
    <option value="PI">Piauí</option>
    <option value="RJ">Rio de Janeiro</option>
    <option value="RN">Rio Grande do Norte</option>
    <option value="RS">Rio Grande do Sul</option>
    <option value="RO">Rondônia</option>
    <option value="RR">Roraima</option>
    <option value="SC">Santa Catarina</option>
    <option value="SP">São Paulo</option>
    <option value="SE">Sergipe</option>
    <option value="TO">Tocantins</option>
</select>

 <label for="estados">Selecione um municipio:</label>
<select id="municipios" name="municipios">
</select>

  <br>
  <br>

  <table id="table1">
    <thead>
        <tr>
            <td>
                Cidade
            </td>
            <td>
                Estado
            </td>
            <td>
                Vizualizar no Mapa
            </td>
        </tr>
    </thead>

    <tbody>

    </tbody>
  </table>

  <!--PREENCHE MUNICIPIOS-->
  <script>

    function preencheMunicipios()
    {
      var table = document.getElementById('table1')
      // Clear existing rows
      table.querySelector('tbody').innerHTML = '';

      var select = document.getElementById("municipios");

      select.innerHTML = '';
      table.innerHTML = ''

      // Add thead section
      addTableHeader(table);

      var selectEstado = document.getElementById("estados");
      var estadoSelecionado = selectEstado.value;

     const options =
     {
        method: 'GET',
        headers: { 'content-type': 'application/json' }
     }

        fetch('https://servicodados.ibge.gov.br/api/v1/localidades/estados/' + estadoSelecionado + '/municipios', options)
        .then(response => response.json())
        .then(data => {

            // Create tbody if not already present
            var tbody = table.querySelector('tbody');
            if (!tbody) {
                tbody = table.createTBody();
            }


            // Faça o que quiser com os dados dentro deste bloco
            data.forEach(item => {
              var option = document.createElement("option");
              option.value = item.nome
              option.text = item.nome
              select.add(option);

            // Append a new row to the table
            var newRow = tbody.insertRow();
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);

            cell1.textContent = item.nome;  // Cidade
            cell2.textContent = estadoSelecionado;  // Estado (you might want to change this)
            cell3.innerHTML = '<button onclick="visualizarMapa(\'' + item.nome + '\')">Visualizar no Mapa</button>';

            });
            console.log("TOTALLL: ",data.length)
            
        })
        .catch(error => {
            // Trate os erros aqui
            console.error('Erro na requisição:', error);
        });

    }
     

  </script>

<!--FUNCIONANDO MOSTRANDO TODAS CIDADES DE MINAS E SEU ESTADO-->
<!-- <script>
    new gridjs.Grid({
      columns: ["cidade","estado"],
      server:
      { 
          url : 'https://servicodados.ibge.gov.br/api/v1/localidades/estados/MG/municipios',
          then : data => data.map(item =>[item.nome,item.microrregiao.mesorregiao.UF.nome])
      },
    }).render(document.getElementById("table-gridjs"));
  </script>
  --> 

  <!--FUNCIONANDO - ATUALIZA A TABELA AO SELECIONAR OUTRO ESTADO-->

  <script>
    function addTableHeader(table) {
      var thead = table.createTHead();
      var row = thead.insertRow();
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3 = row.insertCell(2);
      cell1.textContent = 'Cidade';
      cell2.textContent = 'Estado';
      cell3.textContent = 'Visualizar no Mapa';
    }
    </script>

    <script>
       function visualizarMapa(nome)
       {
        var link = "https://www.google.com/maps/search/?api=1&query=" + encodeURIComponent(nome);

        // Abre o link em uma nova aba
        window.open(link, '_blank');
       }
    </script>

</body>
</html>